.header {
  display: grid;
  grid-template-columns: 1fr 152px 1.1fr;
  align-items: center;
  padding: 96px 50px 88px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
  list-style: circle;
  column-gap: 42px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  letter-spacing: 0.09em;
  text-underline-offset: 0.5px;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.address {
  width: 252px;
  font-style: normal;
  line-height: 1.1;
}

  

.overlay {
  position: absolute;
  opacity: 0.8;
  inset: 0;
  z-index: -1;
  background-color: #090909;
}

.cover {
  position: relative;
  z-index: 0;
  background: url(../images/cover.jpg) top / 152%;
  flex-direction: column;
  padding: 152px 53px 55px 54px;
  display: flex;
  text-transform: uppercase;
  row-gap: 142px;  
  color: #d8bbbb;
}

.cover__title {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  font-size: 90px;
  letter-spacing: 0.2em;
  line-height: 1.4;

}

.aligned-text {
  display: block;
}

.aligned-text_center {
  transform: translateX(-52px);
  align-self: center;
}

.aligned-text_right {
  align-self: end;
  line-height: 0.8em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 1.1em;
}


.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  transform: translateX(23px);
  font-size: 19px;
  word-spacing: 20.4px;
  line-height: 1.42;
}

.bet-button {
  color: #d5cdcd;
  cursor: pointer;
  border: 2.2px solid #d0cdcd;
  padding: 18px 38px;
  font-size: 32px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 36px;
  padding: 184px 25px 0;
}

.lots__heading {
  font-size: 46px;
  text-transform: uppercase;
  transform: translateX(35px);
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1.1fr);
  grid-auto-flow: row;
  gap: 30px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  background-repeat: repeat-y;
  align-items: center;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 38px 42px;
  color: #a29c9c;
  line-height: 1.2;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) top / 135%;
  
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) top / 135%;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) top / 135%;
}

.card__title {
  font-size: 19px;
  text-underline-offset: 2px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 18px;
}

.lots__look-more-link {
  line-height: 1.1em;
  font-size: 18px;
  transform: translateX(44px);
  text-underline-offset: 7px;
}



.about {
  display: grid;
  column-gap: 68px;
  row-gap: 4px;
  padding: 162px 20px 175px;
  grid-template-columns: minmax(auto, 292px) 1fr;
}

.about__logo {
  display: flex;
  justify-self: end;
  width: 232px;
  height: 252px;
  border-radius: 50%;
  background-color: #060404;
}

.about__logo-image {
  width: 162px;
  margin: auto;
}

.about__title {
  align-self: center;
  font-size: 48px;
  text-transform: uppercase;
  transform: translateY(6px);
}

.about__texts {
  display: flex;
  row-gap: 20px;
  grid-column: 2 / 3;
  flex-direction: column;
}

.about__text {
  font-size: 21px;
  line-height: 1em;
}



.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 3px 45px 80px;
  font-size: 24px;
}

.footer__link {
  letter-spacing: 0.2em;
  text-underline-offset: 4px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-offset: 9px;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  list-style: none;
  column-gap: 42px;
}

.footer__social-icon {
  width: 54px;
}
